@use 'base/mixins' as m;
@use 'base/variables' as v;

.boletos {
    &__grid {
        @include m.contenedor-sm;
        @include m.grid(1, 5rem);
    }
}

.boleto {
    //ancho mínimo 100% - 5rem, máximo 65rem
    width: min(100% - 5rem, 65rem);
    //centrado horizontalmente
    margin: 0 auto;
    padding: 6rem;
    border-radius: 2rem;
    color: v.$blanco;
    //relative para poder poner absolute despues
    position: relative;

    //**agujeros de los tickets.
    //aplica antes y despues del elemento padre
    &::before,
    &::after {
        //requiere position relative en el elemento anterior
        position: absolute;
        //before y after, requieren un content
        content: '';
        background-color: v.$blanco;
        width: 5rem;
        height: 5rem;
        //posiciona los dos elementos verticalmente
        top: calc(50% - 2.5rem);
    }
    //aplica antes del elemento padre
    &::before {
        //genera circulo radio 50% recortado at 25% 50%
        clip-path: circle(50% at 25% 50%);
        //posición absolute a partir de la izquierda
        left: 0;
    }
    //aplica despues del elemento padre
    &::after {
        //genera circulo radio 50% recortado at 75% 50%
        clip-path: circle(50% at 75% 50%);
        //posición absolute a partir de la derecha
        right: 0;
    }

    &--presencial {
        //fondo diseñado con https://www.csshero.org/mesher/
        background-color:hsla(178,100%,39%,1);
        background-image:
        radial-gradient(at 37% 28%, hsla(212,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 17% 24%, hsla(181,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 68% 72%, hsla(212,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 85% 70%, hsla(181,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 16% 61%, hsla(212,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 58% 12%, hsla(181,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 87% 24%, hsla(212,100%,47%,1) 0px, transparent 50%);
    }
    &--virtual {
        background-color: v.$secundario;
    }
    &--gratis {
        background-color: v.$azul;
    }

    &__logo {
        margin: 0;
        @include m.logo;
        @include m.texto-fluido(2rem, 4rem);
    }
    &__plan {
        font-size: 2rem;
        text-transform: uppercase;
        margin: 3rem 0 0 0;
    }
    &__precio {
        margin: 3rem 0 0 0;
        font-weight: v.$blanco;
        font-size: 4rem;
    }

    &__enlace-contenedor {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
    }
    &__enlace {
        @include m.boton(v.$azul, v.$blanco);
        width: auto;
    }


    //** Boleto justificante inscripción:

    //asigna selector padre (&) a la var $modificador
    $modificador: &;

    &--acceso {
        width: 30rem;
        height: 50rem;
        padding: 10rem 3rem;

        @include m.tablet {
            width: 60rem;
            height: 30rem;
            padding: 6rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        //la var modificador contiene el elemento padre (--acceso)
        #{$modificador}__logo {
            margin: 0;
            text-align: left;
            @include m.texto-fluido(2rem, 2.5rem);
        }
        
        //la var modificador contiene el elemento padre (--acceso)
        #{$modificador}__nombre {
            font-size: 2.4rem;
            text-transform: uppercase;
            font-weight: v.$black;
        }
        
        //la var modificador contiene el elemento padre (--acceso)
        #{$modificador}__codigo {
            font-size: 3.5rem;
            font-weight: v.$bold;
            text-align: center;
            position: absolute;
            bottom: 7rem;
            margin: 0;
            left: 0;
            width: 100%;

            @include m.tablet {
                rotate: 90deg;
                //resetea el posicionamiento tras rotate
                transform-origin: 0 0;
                width: 30rem;
                top: 0;
                left: calc(100% - 5rem);
            }
        }
    }

    //aplica antes del elemento padre
    &::before {
        //genera circulo radio 50% recortado at 50% 25%
        clip-path: circle(50% at 50% 25%);
        //posiciones absolutas, desde la izquierda y arriba
        left: calc(50% - 2.5rem);
        top: 0;

        @include m.tablet {
            //genera circulo radio 50% recortado at 25% 50%
            clip-path: circle(50% at 25% 50%);
            //posición absolute a partir de la izquierda
            left: 0;
            top: calc(50% - 2.5rem);
        }
    }
    //aplica despues del elemento padre
    &::after {
        //genera circulo radio 50% recortado at 50% 75%
        clip-path: circle(50% at 50% 75%);
        //posiciones absolutas, desde la izquierda y arriba
        left: calc(50% - 2.5rem);
        top: calc(100% - 5rem);

        @include m.tablet {
            //genera circulo radio 50% recortado at 75% 50%
            clip-path: circle(50% at 75% 50%);
            //posición absolute a partir de la derecha
            left: calc(100% - 5rem);
            top: calc(50% - 2.5rem);
        }
    }

}