@use 'base/mixins' as m;
@use 'base/variables' as v;

.eventos-registro {
    @include m.contenedor;
    @include m.tablet {
        display: flex;
        gap: 2rem;
    }
    
    &__listado {
        @include m.tablet {
            flex: 0 0 60%;
        }
    }

    &__grid {
        @include m.grid(1, 5rem);
        @include m.tablet {
            @include m.grid(2, 3rem);
        }
    }

    &__heading {
        &--conferencias {
            color: v.$azul;
            //para que no se rompa el texto en el espacio en blanco
            white-space: nowrap;
            @include m.texto-fluido(2rem, 4rem);
        }
    }
}

//para el aside
.registro {
     @include m.tablet {
            flex: 0 0 40%;
        }
}