@use 'base/mixins' as m;
@use 'base/variables' as v;

.eventos-registro {
    @include m.contenedor;
    @include m.tablet {
        display: flex;
        gap: 2rem;
        //para que funcione el sticky de registro
        align-items: flex-start;
    }
    
    &__listado {
        @include m.tablet {
            //ocupa 60%
            flex: 0 0 60%;
        }
    }

    &__grid {
        @include m.grid(1, 5rem);
        @include m.tablet {
            @include m.grid(2, 3rem);
        }
    }

    &__heading {
        &--conferencias,
        &--workshops {
             //para que no se rompa el texto en el espacio en blanco
            white-space: nowrap;
            @include m.texto-fluido(2rem, 4rem);
        }

        &--conferencias {
            color: v.$azul; 
        }
        &--workshops {
            color: v.$secundario;
            margin-top: 5rem;
        }
    }

    &__fecha {
        margin: 5rem 0 2rem 0;
        border-bottom: 1px solid v.$gris;
    }
}

//para el aside
.registro {
    background-color: v.$gris-claro;
    padding: 2rem;
    border-radius: 1rem;
     @include m.tablet {
            //ocupa 40% aside derecha
            flex: 0 0 40%;
            //para que quede fijo cuando scroll
            position: -webkit-sticky;
            position: sticky;
            top: 0rem;
    }

    &__heading {
        margin: 2rem 0 2rem 0;
    }

    &__evento {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-radius: 0.5rem;
        //selecciona los elementos hijos pares
        &:nth-child(even) {
            background-color: v.$blanco;
        }
    }

    &__nombre {
        font-size: 1.8rem;
        font-weight: v.$regular;
        margin: 0;
    }

    &__eliminar {
        //quitar todos los estilos
        all: unset;
        color: v.$rojo;
        &:hover {
            cursor: pointer;
        }
    }

    &__texto {
        text-align: center;
    }


    &__regalo {
        margin-top: 3rem;
    }

    &__label {
        display: block;
        font-size: 2.2rem;
        color: v.$gris;
        font-weight: v.$bold;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__select {
        width: 100%;
        background-color: v.$blanco;
        border: 1px solid v.$gris;
        padding: 1rem;
        border-radius: .5rem;
    }
}